# LLM Configuration
LLM_MODEL=llama3.1:8b
LLM_BASE_URL=http://localhost:11434/v1/chat/completions
LLM_API_KEY=your_openai_api_key_here
LLM_REQUEST_TIMEOUT=30.0

# Research Agent Configurations
AGENT_MAX_ITERATIONS=5
AGENT_MAX_SEARCH_RESULTS=3
AGENT_MAX_FETCH_PER_ITERATION=3
AGENT_VECTOR_CHUNK_SIZE=500
AGENT_TOP_K_RETRIEVAL_SIZE=5

# Embedding Model Configuration
EMBEDDING_MODEL=nomic-embed-text
EMBEDDING_MODEL_BASE_URL=http://localhost:11434/v1/embeddings
EMBEDDING_MODEL_API_KEY=your_openai_api_key_here
EMBEDDING_MODEL_REQUEST_TIMEOUT=${LLM_REQUEST_TIMEOUT} # Use same timeout time as LLM request

# Serp API
SERPAPI_API_KEY=serpapi_api_key